{% extends '@Admin/base.html.twig' %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>User Edit</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="ibox-content">
                        <div class="row">

                            {{ form_start(edit_form,{ 'attr': {'class': 'form-horizontal'} }) }}
                            
                            <div class="form-group {% if edit_form.username.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">Username</label> 
                                <div class="col-lg-10">
                                {{ form_widget(edit_form.username, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.username.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.username) }}
                                </span>
                                </div>
                            </div>    
                                
                            <div class="form-group {% if edit_form.email.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">Email</label> 
                                <div class="col-lg-10">
                                {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.email.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.email) }}
                                </span>
                                </div>
                            </div>  
                            
                            <div class="form-group {% if edit_form.telephone.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">Telephone</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.telephone, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.telephone.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.telephone) }}
                                </span>
                                </div>
                            </div>  
                                
                            <div class="form-group {% if edit_form.nickname.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">nickname</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.nickname, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.nickname.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.nickname) }}
                                </span>
                                </div>
                            </div>      

                            <div class="form-group {% if edit_form.wechat.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">wechat</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.wechat, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.wechat.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.wechat) }}
                                </span>
                                </div>
                            </div>       

                            <div class="form-group {% if edit_form.facebook.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">facebook</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.facebook, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.facebook.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.facebook) }}
                                </span>
                                </div>
                            </div>       
                                
                            <div class="form-group {% if edit_form.instagram.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">instagram</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.instagram, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.instagram.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.instagram) }}
                                </span>
                                </div>
                            </div>      

                            <div class="form-group {% if edit_form.website.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">website</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.website, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.website.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.website) }}
                                </span>
                                </div>
                            </div>     
                                
                            <div class="form-group {% if edit_form.timezone.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">timezone</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.timezone, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.timezone.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.timezone) }}
                                </span>
                                </div>
                            </div>         

                            <div class="form-group {% if edit_form.country.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">country</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.country, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.country.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.country) }}
                                </span>
                                </div>
                            </div>        
                                
                            <div class="form-group {% if edit_form.city.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">city</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.city, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.city.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.city) }}
                                </span>
                                </div>
                            </div>      
                                
                            <div class="form-group {% if edit_form.postNumber.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">postNumber</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.postNumber, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.postNumber.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.postNumber) }}
                                </span>
                                </div>
                            </div>      

                            <div class="form-group {% if edit_form.mcountry.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">select country</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.mcountry, { 'attr': {'class': 'form-control m-b'} }) }}
                                <span class="help-block m-b-none {% if edit_form.mcountry.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.mcountry) }}
                                </span>
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.mlocation.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">select location</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.mlocation, { 'attr': {'class': 'form-control m-b'} }) }}
                                <span class="help-block m-b-none {% if edit_form.mlocation.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.mlocation) }}
                                </span>
                                </div>
                            </div>      

                            <div class="form-group {% if edit_form.skinColor.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">skinColor</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.skinColor, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.skinColor.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.skinColor) }}
                                </span>
                                </div>
                            </div>        

                            <div class="form-group {% if edit_form.weight.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">weight</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.weight, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.weight.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.weight) }}
                                </span>
                                </div>
                            </div>        
                                
                            <div class="form-group {% if edit_form.height.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">height</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.height, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.height.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.height) }}
                                </span>
                                </div>
                            </div>            
                            
                            <div class="form-group {% if edit_form.birthday.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">birthday</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.birthday.year, { 'attr': {'class': 'form-control m-b'} }) }}
                                    {{ form_widget(edit_form.birthday.month, { 'attr': {'class': 'form-control m-b'} }) }}
                                    {{ form_widget(edit_form.birthday.day, { 'attr': {'class': 'form-control m-b'} }) }}
                                <span class="help-block m-b-none {% if edit_form.birthday.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.birthday) }}
                                </span>
                                </div>
                            </div>           
                                
                            <div class="form-group {% if edit_form.hourPrice.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">hourPrice</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.hourPrice, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.hourPrice.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.hourPrice) }}
                                </span>
                                </div>
                            </div>      
                            
                            <div class="form-group {% if edit_form.hourPriceUnit.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">hourPriceUnit</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.hourPriceUnit, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.hourPriceUnit.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.hourPriceUnit) }}
                                </span>
                                </div>
                            </div>          
                            
                            <div class="form-group {% if edit_form.nightPrice.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">nightPrice</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.nightPrice, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.nightPrice.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.nightPrice) }}
                                </span>
                                </div>
                            </div>      
                            
                            <div class="form-group {% if edit_form.nightPriceUnit.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">nightPriceUnit</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.nightPriceUnit, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.nightPriceUnit.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.nightPriceUnit) }}
                                </span>
                                </div>
                            </div>    
                                
                            <div class="form-group {% if edit_form.shopAddress.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">shopAddress</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.shopAddress, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.shopAddress.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.shopAddress) }}
                                </span>
                                </div>
                            </div>       
                                
                            <div class="form-group {% if edit_form.shopName.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">shopName</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.shopName, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.shopName.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.shopName) }}
                                </span>
                                </div>
                            </div>           
                                
                            <div class="form-group {% if edit_form.description.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">description</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.description.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.description) }}
                                </span>
                                </div>
                            </div>        
                                
                            <div class="form-group {% if edit_form.translatedDescription.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">translatedDescription</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.translatedDescription, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.translatedDescription.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.translatedDescription) }}
                                </span>
                                </div>
                            </div>
                                
                            <div class="form-group {% if edit_form.isActive.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isActive, { 'attr': {'class': 'i-checks'} }) }} isActive </label>    
                                </div>
                            </div>  
                                        
                            <div class="form-group {% if edit_form.isDeleted.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isDeleted, { 'attr': {'class': 'i-checks'} }) }} isDeleted </label>    
                                </div>
                            </div>  

                            <div class="form-group {% if edit_form.isPremium.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isPremium, { 'attr': {'class': 'i-checks'} }) }} isPremium </label>    
                                </div>
                            </div>     
                            
                            <div class="form-group {% if edit_form.isSingle.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isSingle, { 'attr': {'class': 'i-checks'} }) }} isSingle </label>    
                                </div>
                            </div>      
                                
                            <div class="form-group {% if edit_form.isShop.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isShop, { 'attr': {'class': 'i-checks'} }) }} isShop </label>    
                                </div>
                            </div>      
                                
                            <div class="form-group {% if edit_form.isZh.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isZh, { 'attr': {'class': 'i-checks'} }) }} isZh </label>    
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.isEn.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isEn, { 'attr': {'class': 'i-checks'} }) }} isEn </label>    
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.isFr.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isFr, { 'attr': {'class': 'i-checks'} }) }} isFr </label>    
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.isAdmin.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isAdmin, { 'attr': {'class': 'i-checks'} }) }} isAdmin </label>    
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.isTest.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isTest, { 'attr': {'class': 'i-checks'} }) }} isTest </label>    
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.isSynchronizedByCache.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isSynchronizedByCache, { 'attr': {'class': 'i-checks'} }) }} isSynchronizedByCache </label>    
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.isSynchronizedBySearch.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isSynchronizedBySearch, { 'attr': {'class': 'i-checks'} }) }} isSynchronizedBySearch </label>    
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.isFromOtherWeb.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-sm-2 control-label"></label> 
                                <div class="col-lg-10">
                                    <label> {{ form_widget(edit_form.isFromOtherWeb, { 'attr': {'class': 'i-checks'} }) }} isFromOtherWeb </label>    
                                </div>
                            </div>       
                            
                            <div class="form-group {% if edit_form.otherWeb.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">otherWeb</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.otherWeb, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.otherWeb.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.otherWeb) }}
                                </span>
                                </div>
                            </div>      
 
                            <div class="form-group {% if edit_form.otherWebReference.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">otherWebReference</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.otherWebReference, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.otherWebReference.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.otherWebReference) }}
                                </span>
                                </div>
                            </div>  
                                
                            <div class="form-group {% if edit_form.draftId.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">draftId</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.draftId, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.draftId.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.draftId) }}
                                </span>
                                </div>
                            </div>      
                                
                            <div class="form-group {% if edit_form.slug.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">slug</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.slug, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.slug.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.slug) }}
                                </span>
                                </div>
                            </div>       
                                
                            <div class="form-group {% if edit_form.token.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">token</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.token, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.token.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.token) }}
                                </span>
                                </div>
                            </div>      
                                
                            <div class="form-group {% if edit_form.internalToken.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">internalToken</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.internalToken, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.internalToken.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.internalToken) }}
                                </span>
                                </div>
                            </div>  
                                
                            <div class="form-group {% if edit_form.externalToken.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">externalToken</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.externalToken, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.externalToken.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.externalToken) }}
                                </span>
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.internalId.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">internalId</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.internalId, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.internalId.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.internalId) }}
                                </span>
                                </div>
                            </div>     
                                
                            <div class="form-group {% if edit_form.viewNumber.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">viewNumber</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.viewNumber, { 'attr': {'class': 'form-control'} }) }}
                                <span class="help-block m-b-none {% if edit_form.viewNumber.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.viewNumber) }}
                                </span>
                                </div>
                            </div>         

                            <div class="form-group {% if edit_form.topTime.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">topTime</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.topTime.date.year, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.topTime.date.month, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.topTime.date.day, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.topTime.time.hour, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.topTime.time.minute, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                <span class="help-block m-b-none {% if edit_form.topTime.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.topTime) }}
                                </span>
                                </div>
                            </div>   
                                
                            <div class="form-group {% if edit_form.lastSynchronizedFromOtherWebTime.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">lastSynchronizedFromOtherWebTime</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.lastSynchronizedFromOtherWebTime.date.year, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.lastSynchronizedFromOtherWebTime.date.month, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.lastSynchronizedFromOtherWebTime.date.day, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.lastSynchronizedFromOtherWebTime.time.hour, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.lastSynchronizedFromOtherWebTime.time.minute, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                <span class="help-block m-b-none {% if edit_form.lastSynchronizedFromOtherWebTime.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.lastSynchronizedFromOtherWebTime) }}
                                </span>
                                </div>
                            </div>    
  
                            <div class="form-group {% if edit_form.paymentExpiredTime.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">paymentExpiredTime</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.paymentExpiredTime.date.year, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.paymentExpiredTime.date.month, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.paymentExpiredTime.date.day, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.paymentExpiredTime.time.hour, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.paymentExpiredTime.time.minute, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                <span class="help-block m-b-none {% if edit_form.paymentExpiredTime.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.paymentExpiredTime) }}
                                </span>
                                </div>
                            </div>    
                                
                            <div class="form-group {% if edit_form.created.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">created</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.created.date.year, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.created.date.month, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.created.date.day, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.created.time.hour, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.created.time.minute, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                <span class="help-block m-b-none {% if edit_form.created.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.created) }}
                                </span>
                                </div>
                            </div>      
                                
                            <div class="form-group {% if edit_form.updated.vars.valid == false  %} has-error {% endif %}">
                                <label class="col-lg-2 control-label">updated</label> 
                                <div class="col-lg-10">
                                    {{ form_widget(edit_form.updated.date.year, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.updated.date.month, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.updated.date.day, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.updated.time.hour, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                    {{ form_widget(edit_form.updated.time.minute, { 'attr': {'class': 'form-control col-lg-2 time-select-list'} }) }}
                                <span class="help-block m-b-none {% if edit_form.updated.vars.valid == false  %} alert alert-danger {% endif %}">
                                    {{ form_errors(edit_form.updated) }}
                                </span>
                                </div>
                            </div>          

                            <a href="{{ path('muser_index') }}" class="btn btn-lg btn-outline btn-primary">Back to the list</a>
                            <a href="{{ path('muser_show', { 'id' : muser.id }) }}" class="btn btn-lg btn-info">Show</a>
                            {% if muser.isDeleted %}
                                <a href="{{ path('muser_enable', { 'internalToken': muser.internalToken }) }}" class="btn btn-lg btn-info">Enable</a>
                             {% else %}    
                                <a href="{{ path('muser_delete', { 'internalToken': muser.internalToken }) }}" class="btn btn-lg btn-danger">Delete</a>
                             {% endif %}
                             
                             <input type="submit" value="Save" class="btn btn-lg btn-success" />
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}  
    <!-- Page-Level Scripts -->
    
    {% javascripts output='js/compiled/useredit.js' 
            '@FrontBundle/Resources/public/js/plugins/iCheck/icheck.min.js' 
            '@FrontBundle/Resources/public/js/admin/user/edit.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    
    
{% endblock %}