{% extends '@Admin/base.html.twig' %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>User Page</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center center-version">
                                    {% if profil_photo is not empty %}
                                        <img class="img-circle circle-border m-b-md" src="{{profil_photo}}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table>
                                <tbody>
                                    <tr>
                                        <th><label class="control-label">Id</label></th>
                                        <td>{{ muser.id }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Username</label></th>
                                        <td>{{ muser.username }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Email</label></th>
                                        <td>{{ muser.email }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Telephone</label></th>
                                        <td>{{ muser.telephone }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Nickname</label></th>
                                        <td>{{ muser.nickname }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Wechat</label></th>
                                        <td>{{ muser.wechat }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Facebook</label></th>
                                        <td>{{ muser.facebook }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Instagram</label></th>
                                        <td>{{ muser.instagram }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Website</label></th>
                                        <td>{{ muser.website }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Timezone</label></th>
                                        <td>{{ muser.timezone }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Country</label></th>
                                        <td>{{ muser.country }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">City</label></th>
                                        <td>{{ muser.city }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Postnumber</label></th>
                                        <td>{{ muser.postNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Countryid</label></th>
                                        <td>{{ muser.countryId }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Locationid</label></th>
                                        <td>{{ muser.locationId }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Skincolor</label></th>
                                        <td>{{ muser.skinColor }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Weight</label></th>
                                        <td>{{ muser.weight }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Height</label></th>
                                        <td>{{ muser.height }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Birthday</label></th>
                                        <td>{% if muser.birthday %}{{ muser.birthday|date('Y-m-d') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Hourprice</label></th>
                                        <td>{{ muser.hourPrice }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Hourpriceunit</label></th>
                                        <td>{{ muser.hourPriceUnit }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Nightprice</label></th>
                                        <td>{{ muser.nightPrice }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Nightpriceunit</label></th>
                                        <td>{{ muser.nightPriceUnit }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Shopaddress</label></th>
                                        <td>{{ muser.shopAddress }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Shopname</label></th>
                                        <td>{{ muser.shopName }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Description</label></th>
                                        <td>{{ muser.description }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Translateddescription</label></th>
                                        <td>{{ muser.translatedDescription }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Isactive</label></th>
                                        <td>{% if muser.isActive %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Isdeleted</label></th>
                                        <td>{% if muser.isDeleted %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Ispremium</label></th>
                                        <td>{% if muser.isPremium %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Issingle</label></th>
                                        <td>{% if muser.isSingle %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Isshop</label></th>
                                        <td>{% if muser.isShop %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Iszh</label></th>
                                        <td>{% if muser.isZh %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Isen</label></th>
                                        <td>{% if muser.isEn %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Isfr</label></th>
                                        <td>{% if muser.isFr %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Isadmin</label></th>
                                        <td>{% if muser.isAdmin %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Istest</label></th>
                                        <td>{% if muser.isTest %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Issynchronizedbycache</label></th>
                                        <td>{% if muser.isSynchronizedByCache %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Issynchronizedbysearch</label></th>
                                        <td>{% if muser.isSynchronizedBySearch %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Isfromotherweb</label></th>
                                        <td>{% if muser.isFromOtherWeb %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Otherweb</label></th>
                                        <td>{{ muser.otherWeb }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Otherwebreference</label></th>
                                        <td>{{ muser.otherWebReference }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Draftid</label></th>
                                        <td>{{ muser.draftId }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Viewnumber</label></th>
                                        <td>{{ muser.viewNumber }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Slug</label></th>
                                        <td>{{ muser.slug }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Internalid</label></th>
                                        <td>{{ muser.internalId }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Toptime</label></th>
                                        <td>{% if muser.topTime %}{{ muser.topTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Lastsynchronizedfromotherwebtime</label></th>
                                        <td>{% if muser.lastSynchronizedFromOtherWebTime %}{{ muser.lastSynchronizedFromOtherWebTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Paymentexpiredtime</label></th>
                                        <td>{% if muser.paymentExpiredTime %}{{ muser.paymentExpiredTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Allowedip</label></th>
                                        <td>{{ muser.allowedIp }}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Created</label></th>
                                        <td>{% if muser.created %}{{ muser.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label">Updated</label></th>
                                        <td>{% if muser.updated %}{{ muser.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                </tbody>
                            </table>


                            <a href="{{ path('muser_index') }}" class="btn btn-lg btn-outline btn-primary">Back to the list</a>

                            {% if muser.isDeleted %}
                                <a href="{{ path('muser_enable', { 'internalToken': muser.internalToken }) }}" class="btn btn-lg btn-info">Enable</a>
                            {% else %}    
                                <a href="{{ path('muser_delete', { 'internalToken': muser.internalToken }) }}" class="btn btn-lg btn-danger" id="deleteUser">Delete</a>
                            {% endif %}
                            <a href="{{ path('muser_edit', { 'internalToken': muser.internalToken }) }}" class="btn btn-lg btn-success">Edit</a>
                            <a href="{{ path('mphoto_manage', { 'internalToken': muser.internalToken }) }}" class="btn btn-lg btn-success">Manage Photo</a>
                            <a href="{{ path('mpassword_manage', { 'internalToken': muser.internalToken }) }}" class="btn btn-lg btn-success">Manage Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}  
    <!-- Page-Level Scripts -->

    {% javascripts output='js/compiled/useredit.js' 
            '@FrontBundle/Resources/public/inspinia/js/plugins/sweetalert/sweetalert.min.js' 
            '@AdminBundle/Resources/public/js/admin/user/show.js' 
            '@AdminBundle/Resources/public/js/admin/common/common.js' 
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}



{% endblock %}