{% extends '@Admin/base.html.twig' %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Password List</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            {% if passwords|length > 0 %}
                                <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables" id="userListTable">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>userId</th>
                                        <th>password</th>
                                        <th>encryptionMethod</th>
                                        <th>salt</th>
                                        <th>indication</th>
                                        <th>internalId</th>
                                        <th>created</th>
                                        <th>updated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for password in passwords %}
                                        <tr class="gradeX">
                                            <td>{{password.id}}</td>
                                            <td>{{password.userId}}</td>
                                            <td>{{password.password}}</td>
                                            <td>{{password.encryptionMethod}}</td>
                                            <td>{{password.salt}}</td>
                                            <td>{{password.indication}}</td>
                                            <td>{{password.internalId}}</td>
                                            <td>{{password.created|date('Y-m-d H:i:s')}}</td>
                                            <td>{{password.updated|date('Y-m-d H:i:s')}}</td>
                                        </tr>    
                                    {% endfor %}        
                                </tbody>
                            </table>
                            {% endif %}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Manage Password</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">

                            {% include 'admin/mpassword/form.html.twig' with {'form' : form, 'muser': muser} %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}  
    <!-- Page-Level Scripts -->

    {% javascripts output='js/compiled/useredit.js' 
            '@FrontBundle/Resources/public/inspinia/js/plugins/iCheck/icheck.min.js' 
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}



{% endblock %}