{% extends 'base.html.twig' %}

{% block body %}
    <h1>Musers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Nickname</th>
                <th>Wechat</th>
                <th>Countryid</th>
                <th>Locationid</th>
                <th>Shopname</th>
                <th>Isactive</th>
                <th>Isdeleted</th>
                <th>Ispremium</th> 
                <th>Toptime</th>
                <th>Paymentexpiredtime</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for muser in musers %}
            <tr>
                <td><a href="{{ path('muser_show', { 'id': muser.id }) }}">{{ muser.id }}</a></td>
                <td>{{ muser.username }}</td>
                <td>{{ muser.email }}</td>
                <td>{{ muser.telephone }}</td>
                <td>{{ muser.nickname }}</td>
                <td>{{ muser.wechat }}</td>
                <td>{{ muser.countryId }}</td>
                <td>{{ muser.locationId }}</td>
                <td>{{ muser.shopName }}</td>
                <td>{% if muser.isActive %}Yes{% else %}No{% endif %}</td>
                <td>{% if muser.isDeleted %}Yes{% else %}No{% endif %}</td>
                <td>{% if muser.isPremium %}Yes{% else %}No{% endif %}</td>
                <td>{% if muser.topTime %}{{ muser.topTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if muser.paymentExpiredTime %}{{ muser.paymentExpiredTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if muser.created %}{{ muser.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if muser.updated %}{{ muser.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('muser_show', { 'id': muser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('muser_edit', { 'id': muser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('muser_new') }}">Create a new muser</a>
        </li>
    </ul>
{% endblock %}
